* {
  margin: 0;
}

.hero {
  background-image: url(hero-cover.5.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: white;
}

.prav {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prav button {
  background-color: #23a6f0;
  padding: 15px;
  border: none;
  border-radius: 5px;
  color: white;
}

nav {
  display: flex;
  gap: 50px;
}

.nest {
  display: none;
}

.section1 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 83px 0px;
}

.proz {
  background-color: rgba(0, 0, 0, 0.462);
}

.chap {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.chap p {
  font-size: 20px;
}
.chap h1 {
  font-size: 58px;
}
.chap .butt {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.chap .get {
  background-color: #23a6f0;
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  color: white;
}
.chap .learn {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 15px;
  border-radius: 30px;
  color: white;
}

.rost {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rost input {
  height: 40px;
}
.rost .book {
  background-color: #23a6f0;
  padding: 15px;
  border: none;
  border-radius: 5px;
  color: white;
}

.section2 {
  max-width: 1200px;
  margin: auto;
  padding: 80px 0px;
}
.section2 h1 {
  text-align: center;
  padding: 15px;
}
.section2 p {
  text-align: center;
}
.section2 .cont {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
.section2 .box {
  width: 290px;
  border: 1px solid #23a6f0;
  border-radius: 10px;
}
.section2 .bolo {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #8ec2f2;
  border-radius: 5px;
}
.section2 .poyon {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: start;
  align-items: start;
}
.section2 .kabud {
  color: #23a6f0;
}

.section3 {
  max-width: 1200px;
  margin: auto;
  padding: 80px 0px;
}
.section3 h1 {
  text-align: center;
  padding: 15px;
}
.section3 p {
  text-align: center;
}
.section3 .cont {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
.section3 .cont p {
  text-align: start;
}
.section3 .star {
  width: 220px;
  padding: 30px;
  border: 1px solid #dedede;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  align-items: start;
}

.section4 {
  max-width: 1200px;
  margin: auto;
  padding: 80px 0px;
}
.section4 h1 {
  text-align: center;
  padding: 15px;
  font-size: 40px;
}
.section4 p {
  text-align: center;
}
.section4 .the {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: center;
  padding: 50px 0px;
}
.section4 .th {
  width: 300px;
  display: flex;
  align-items: start;
  gap: 10px;
  box-shadow: 0px 0px 10px 0px gray;
  padding: 20px;
}

.section5 {
  max-width: 1200px;
  margin: auto;
  padding: 80px 0px;
}
.section5 h1 {
  text-align: center;
  padding: 15px;
  font-size: 40px;
}
.section5 p {
  text-align: center;
}
.section5 .surat {
  padding: 50px 0px;
  margin: 0px 100px;
}

.section6 {
  background-color: #252b42;
}
.section6 .drun {
  max-width: 1200px;
  margin: auto;
  padding: 80px 0px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section6 .drun h1 {
  font-size: 40px;
  padding: 15px;
}
.section6 .drun .inp {
  display: flex;
  align-items: center;
}
.section6 .drun .inp input {
  height: 56px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  width: 350px;
}
.section6 .drun .inp button {
  background-color: #23a6f0;
  color: white;
  border: none;
  height: 58px;
  border-radius: 0px 5px 5px 0px;
}

footer {
  padding: 50px 0px;
  padding-bottom: 0px;
}
footer .oxir {
  padding: 30px;
  text-align: center;
}
footer .footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .i {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer p {
  text-align: start;
  padding: 0px;
}/*# sourceMappingURL=style.css.map */